@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --deep-charcoal: #0D0D0D;
    --shadow-grey:  #262626;
    --muted-slate:  #595959;
    --silver-mist:  #A6A6A6;
    --soft-ivory:   #E5E5E5;
    --accent: var(--soft-ivory);
    cursor: none !important; 
  }

html {
  scroll-behavior: smooth;
}

  html,body,#root{height:100%}
  html, body { box-sizing: border-box; }
  body{@apply text-soft-ivory; margin:0; font-family:Inter,ui-sans-serif,system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial; min-height:100vh; display:flex; flex-direction:column; overflow-x:hidden}
  a{@apply font-medium text-silver-mist}
  a:hover{@apply text-soft-ivory}
}
